<style type="text/css">
        
            #title{
                position: absolute;
                top: 0px;
                left: 250px;
                font-size: 40px;
            }

            #d1{
                z-index:0;
                position: absolute;
                top: 100px;
                order:1px solid;
                border-style:solid;
                color:red;
                height: 300px;
                width: 1000px;
                
            }
            #poem{
                font-family: 'cwTeXFangSong',serif;
                font-size: 36px;
                position: absolute;
                top: 60px;
                left: 205px;
            }
            #d2{
                z-index:100;
                position: absolute;
                top: 7px;
                left: 185px;
                order:1px solid;
                border-style:solid;
                color:red;
                height: 280px;
                width: 600px;
            }
    
    </style>